@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
nav div ul li{
    font-weight: bolder;
    text-align: center;
}
nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.carousel-2{
    border-radius: 10px;
    /*border: 2px solid black;
    min-height: 200px;*/
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.carousel img{
    min-height: 200px;
    max-height: 500px;
}
body{
    background-color: #ccae62;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
.d{
    border-radius: 10px !important;
    font-family: 'Solway', serif;
}
.d:hover{
    box-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
    margin-bottom: 4px;
}
.b , .d{
    border: 2px solid black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
footer{
    border-top: 2px solid black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.ftr{
    border-radius: 0px !important;
}
.family{
    font-family: 'Amiri', serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(231, 220, 220) !important;
}
.h-art{
    font-family: 'Solway', serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(231, 220, 220) !important;
    text-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
}
.b{
    text-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
    color: rgb(255, 250, 250) !important;
    font-family: 'Solway', serif;
    font-style: italic;
}

.card > .card-img-overlay > .card-text{
    background-color: #2f2f2f71;
    padding: 5px;
    border-radius: 5px;
}
.b:hover{
    box-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
    font-style: italic;
}
.br{
    border-top-left-radius: 25px;
    box-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
}
.bri{
    border-bottom-right-radius: 30px;
    box-shadow: 0 4px 8px rgb(5, 5, 5), 0 6px 20px rgb(0, 0, 0);
}
div .card a{
    text-decoration: none !important;
}
.br-1{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.bri-1{
    border-top-left-radius: 50px;
}
.n{
    border-top-right-radius: 50px;
}
.flash{
    background-color: rgba(0, 0, 0, 0.548) !important;
    border-radius: 6px;
    font-style: italic;
    font-family: 'Amiri', serif;
}
.p-style{
    text-align: justify;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 22px;
}
ul li{
    font-weight: bold;
    font-style: italic;
    font-family: 'El Messiri', sans-serif;
}
.pdr{
    padding: 0 !important;
    padding-right: 10px !important;
    font-style: italic;
    font-family: 'Amiri', serif;
}
.mh{
    max-height: 85px !important;
}
.dm{
    right: inherit !important;
    left: 0 !important;
}
.admin{
	pointer-events: none;
}
label{
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
	font-size: x-large;
	font-family: 'Amiri', serif;
}
.g{
    max-width: 150px;
}